In Python, write the code which extracts the tables from that DB

In [57]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import mysql.connector as mysql

In [58]:
engine = create_engine("mysql+pymysql://root:password@localhost/python_sgt") #Creating engine to coonect to MySQL DB

In [59]:
df = pd.read_sql("customers", engine) #Reading table from MySQL DB

In [60]:
df  # exploring the table

   customer_id  customer_name  age           city
0          101  Alice Johnson   25       New York
1          102      Bob Smith   30    Los Angeles
2          103        Eva Lee   28        Chicago
3          104     Mike Brown   35        Houston
4          105    Sophia Wang   22  San Francisco

In [61]:
db_connection = mysql.connect(user = 'root', password='password', host='localhost', database='python_sgt')

In [63]:
cursor = db_connection.cursor(dictionary=True) # converting table to a dictionary

In [64]:
cursor.execute("use python_sgt") # connecting to MySQL DB python_sgt

In [65]:
cursor.execute("select * from customers") # selecting a table

In [66]:
rows = cursor.fetchall()

print(rows)

[{'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York'}, {'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles'}, {'customer_id': 103, 'customer_name': 'Eva Lee', 'age': 28, 'city': 'Chicago'}, {'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston'}, {'customer_id': 105, 'customer_name': 'Sophia Wang', 'age': 22, 'city': 'San Francisco'}]

Load the data from these tables as the collections to MongoDB collections (create them before)

In [68]:
url = 'mongodb+srv://user:password@cluster0.phxwskp.mongodb.net/'

# Create a new client and connect to the server
client = MongoClient(url, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [69]:
db = client["Studing_DB"]
collection = db["Customers"]    #creating mongodb collection

In [73]:
results = collection.find()

In [71]:
for entry in results:
    print(entry)

In [72]:
collection.insert_many(rows)    # loading table data to mongodb

In [74]:
for entry in results:
    print(entry)

{'_id': ObjectId('64d5248f35bbe6a59e740e28'), 'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York'}
{'_id': ObjectId('64d5248f35bbe6a59e740e29'), 'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2a'), 'customer_id': 103, 'customer_name': 'Eva Lee', 'age': 28, 'city': 'Chicago'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2b'), 'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2c'), 'customer_id': 105, 'customer_name': 'Sophia Wang', 'age': 22, 'city': 'San Francisco'}

Create unique index, so it matches the key value in the initial SQL database

In [78]:
collection.create_index("customer_id",unique=True)

'customer_id_1'

Insert at least 3 entries to these collections

In [79]:
addit_data1 = {"customer_id":106, "customer_name":"Liga Ozolina", "age":25, "city":"New York"}

In [80]:
addit_data2 = {"customer_id":107, "customer_name":"Kalvis Ozolins", "age":35, "city":"Riga"}

In [81]:
addit_data3 = {"customer_id":108, "customer_name":"Nellija Klava", "age":27, "city":"Paris"}

In [82]:
addit_data4 = {"customer_id":109, "customer_name":"Miks Kreisais", "age":38, "city":"Madrid"}

In [84]:
collection.insert_one(addit_data1)

In [85]:
various_data = list()
various_data.append(addit_data2)
various_data.append(addit_data3)
various_data.append(addit_data4)

In [87]:
collection.insert_many(various_data)

In [89]:
addit_data5 = {"customer_id":110, "customer_name":"Miks Pareizais"}

In [90]:
collection.insert_one(addit_data5)

Perform at least 3 selections based on different (MIXED - "one or another","one and another", etc.) filter

In [92]:
result = collection.find({"city":"New York"})

In [93]:
for entry in result:
    print(entry)

{'_id': ObjectId('64d5248f35bbe6a59e740e28'), 'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York'}
{'_id': ObjectId('64d5299d35bbe6a59e740e2d'), 'customer_id': 106, 'customer_name': 'Liga Ozolina', 'age': 25, 'city': 'New York'}

In [105]:
results = collection.find({"age":{"$gte":30}})

In [106]:
for entry in results:
    print(entry)

{'_id': ObjectId('64d5248f35bbe6a59e740e29'), 'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2b'), 'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston'}
{'_id': ObjectId('64d52a2035bbe6a59e740e2e'), 'customer_id': 107, 'customer_name': 'Kalvis Ozolins', 'age': 35, 'city': 'Riga'}
{'_id': ObjectId('64d52a2035bbe6a59e740e30'), 'customer_id': 109, 'customer_name': 'Miks Kresais', 'age': 38, 'city': 'Madrid'}

In [114]:
res = collection.find({"customer_name":{"$in":["Kalvis Ozolins", "Liga Ozolina"]}})

In [115]:
for entry in res:
    print(entry)

{'_id': ObjectId('64d5299d35bbe6a59e740e2d'), 'customer_id': 106, 'customer_name': 'Liga Ozolina', 'age': 25, 'city': 'New York'}
{'_id': ObjectId('64d52a2035bbe6a59e740e2e'), 'customer_id': 107, 'customer_name': 'Kalvis Ozolins', 'age': 35, 'city': 'Riga'}

Perform at least 3 update operations

In [117]:
filter_cond = {"id":107}
update = {"$set":{"customer_name":"Kalvis Klavins", "city":"Helsinki"}}

In [118]:
collection.update_one(filter_cond, update)

In [121]:
filter_cond = {"city":{"$in":["New York", "Chicago", "Houston", "Los Angeles", "San Francisco"]}}
update = {"$set":{"country":"USA"}}

collection.update_many(filter_cond, update)

In [123]:
filter_cond = {"age":{"$gte":30}}
update = {"$set":{"status":"married"}}

collection.update_many(filter_cond, update)

In [124]:
client.close()

In [125]:
url = 'mongodb+srv://user:password@cluster0.phxwskp.mongodb.net/'

# Create a new client and connect to the server
client = MongoClient(url, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [126]:
db = client["Studing_DB"]
collection = db["Customers"]

In [127]:
output = collection.find()

In [128]:
for entry in output:
    print(entry)

{'_id': ObjectId('64d5248f35bbe6a59e740e28'), 'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York', 'country': 'USA'}
{'_id': ObjectId('64d5248f35bbe6a59e740e29'), 'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles', 'country': 'USA', 'status': 'married'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2a'), 'customer_id': 103, 'customer_name': 'Eva Lee', 'age': 28, 'city': 'Chicago', 'country': 'USA'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2b'), 'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston', 'country': 'USA', 'status': 'married'}
{'_id': ObjectId('64d5248f35bbe6a59e740e2c'), 'customer_id': 105, 'customer_name': 'Sophia Wang', 'age': 22, 'city': 'San Francisco', 'country': 'USA'}
{'_id': ObjectId('64d5299d35bbe6a59e740e2d'), 'customer_id': 106, 'customer_name': 'Liga Ozolina', 'age': 25, 'city': 'New York', 'country': 'USA'}
{'_id': ObjectId('64d52a2035bbe6a59e740e2e'), 'customer_id': 107, 'customer_name': 'Kalvis Ozolins', 'age': 35, 'city': 'Riga', 'status': 'married'}
{'_id': ObjectId('64d52a2035bbe6a59e740e2f'), 'customer_id': 108, 'customer_name': 'Nellija Klava', 'age': 27, 'city': 'Paris'}
{'_id': ObjectId('64d52a2035bbe6a59e740e30'), 'customer_id': 109, 'customer_name': 'Miks Kresais', 'age': 38, 'city': 'Madrid', 'status': 'married'}
{'_id': ObjectId('64d52aa635bbe6a59e740e31'), 'customer_id': 110, 'customer_name': 'Miks Pareizais'}

In [129]:
client.close()

Create Redis DB, with the data from SQL

In [131]:
import redis

In [133]:
r =redis.StrictRedis(host='localhost', port=6379, db='python_sgt')

In [137]:
print(rows)

[{'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York', '_id': ObjectId('64d5248f35bbe6a59e740e28')}, {'customer_id': 102, 'customer_name': 'Bob Smith', 'age': 30, 'city': 'Los Angeles', '_id': ObjectId('64d5248f35bbe6a59e740e29')}, {'customer_id': 103, 'customer_name': 'Eva Lee', 'age': 28, 'city': 'Chicago', '_id': ObjectId('64d5248f35bbe6a59e740e2a')}, {'customer_id': 104, 'customer_name': 'Mike Brown', 'age': 35, 'city': 'Houston', '_id': ObjectId('64d5248f35bbe6a59e740e2b')}, {'customer_id': 105, 'customer_name': 'Sophia Wang', 'age': 22, 'city': 'San Francisco', '_id': ObjectId('64d5248f35bbe6a59e740e2c')}]

In [139]:
entry1 = rows[0]

In [158]:
print(entry1)

{'customer_id': 101, 'customer_name': 'Alice Johnson', 'age': 25, 'city': 'New York'}

In [159]:
r = redis.Redis(host='localhost', port=6379, db=0, decode_responses=True)

r.hmset("row1", entry1) # setting a key with specific data

C:\Users\Д\AppData\Local\Temp\ipykernel_8696\2477749236.py:3: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  r.hmset("row1", entry1)

True

In [140]:
entry2 = rows[1]

In [141]:
entry3 = rows[2]

In [142]:
entry4 = rows[3]

In [143]:
entry5 = rows[4]

In [174]:
with r.pipeline() as pipe:
    pipe.multi()
    pipe.hmset("row2", entry2)
    pipe.hmset("row3", entry3)
    pipe.hmset("row4", entry4)
    pipe.hmset("row5", entry5)
    pipe.execute()

C:\Users\Д\AppData\Local\Temp\ipykernel_8696\442470800.py:3: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset("row2", entry2)
C:\Users\Д\AppData\Local\Temp\ipykernel_8696\442470800.py:4: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset("row3", entry3)
C:\Users\Д\AppData\Local\Temp\ipykernel_8696\442470800.py:5: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset("row4", entry4)
C:\Users\Д\AppData\Local\Temp\ipykernel_8696\442470800.py:6: DeprecationWarning: Pipeline.hmset() is deprecated. Use Pipeline.hset() instead.
  pipe.hmset("row5", entry5)

In [169]:
r.hgetall("row2")   #retrieving a value of a key from Redis

{'customer_id': '102',
 'customer_name': 'Bob Smith',
 'age': '30',
 'city': 'Los Angeles'}

In [171]:
r.delete("row5")

1

In [172]:
r.hgetall("row5")

{}